<div class="list-group-item">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">
            {{ idea.title }}
        </h5>
    </div>
    <p class="mb-1">
        {{ idea.shortDescription }}
    </p>
</div>
